#status {
	display: inline-block;
	position: relative;
	bottom: 2.1em;
	max-width:15em;
	margin: 10px;
}

.user-status {
	display: inline-block;
	width: 60em;
	position: relative;
	left: 4em;
}

<<<<<<< HEAD
.cups {
	background-color: #f0f;
=======
#user-foto{
	width: 100px;
	height: 100px;
}


.cups{
	margin-top: 50px;
>>>>>>> master
	position: relative;
	left: 4em;
	max-width: 20em;
}

#btnAddCopo {
	position: relative;
<<<<<<< HEAD
	left: 3.5em;
}

#title-cards {
	position: relative;
	left: 4em;
=======
	left:3.5em;
	margin-top: 30px;
	margin-bottom: 40px;
>>>>>>> master
}