#status {
	display: inline-block;
	position: relative;
	bottom: 2.1em;
	max-width:15em;
	margin: 10px;
	width: 60em;
}

.user-status {
	display: inline-block;
	width: 60em;
	position: relative;
	left: 4em;
}

#user-foto{
	width: 100px;
	height: 100px;
}

.cups{
	margin-top: 50px;
	position: relative;
	left:4em;
	max-width:25em;
}

#btnAddCopo {
	position: relative;
	left:3.5em;
	margin-top: 30px;
	margin-bottom: 40px;
}

#btnRemCopo{
	position: relative;
	left:5.5em;
	margin-top: 30px;
	margin-bottom: 40px;
}

.copo{
	margin: 1em 1em;
	width: 50px;
	height: auto;
}

/*Achievements*/
.icons img{
	width: 100%;
}
/*bloquear*/
.block{
	-webkit-filter: grayscale(100%);
     pointer-events: none;
}
.popup img{
	align-items: center;
}